<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.gallery.dao.GalleryDao">
 
 	<select id="selectAll">
 		SELECT * FROM tbl_gallerys ORDER BY g_date DESC, g_time DESC
 	</select>
 	<select id="findById">
 		SELECT * FROM tbl_gallerys WHERE g_id = #{g_id}
 	</select>
 	<!-- AUTO_INCREMENT 일때 -->
 	<!-- insert할때 GalleryVO 에 각 요소들의 data -->
 	<!-- 
 		SelectKey
 		insert 가 실행되기 전 or 후(order = "BEFORE,AFTER")
 		GalleryVO 에 g_id 속성에 넣어라
 	 -->
 	 <!-- 
 	 	SELECT LAST_INSERT_ID()
 	 	마지막으로 insert 된 key 값을 가져와서 GalleryVO 이 g_id에 담아놔
 	  -->
 	<insert id="insert" parameterType="GalleryVO">
 		<selectKey resultType="String" keyProperty="g_id" order="AFTER">
 		SELECT LAST_INSERT_ID()
 		</selectKey>
 	
 		INSERT INTO tbl_gallerys (
 			g_id, g_date, g_time, g_author, g_subject,
 			g_content, g_origin_image, g_up_image
 		)VALUES(
 			#{g_id}, #{g_date}, #{g_time}, #{g_author}, #{g_subject},
 			#{g_content}, #{g_origin_image}, #{g_up_image})
 	</insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	<!-- IF NOT EXISTS 테이블이 없으면 새로 만들어라 -->
 	<select id="create_table">
 	CREATE TABLE IF NOT EXISTS tbl_gallerys (
		g_id	VARCHAR(125)	PRIMARY KEY,
		g_date	VARCHAR(10)	NOT NULL,
		g_time	VARCHAR(10)	NOT NULL,
		g_author	VARCHAR(50)	NOT NULL,
		g_subject	VARCHAR(50)	NOT NULL,
		g_content	VARCHAR(255)	NOT NULL,
		g_origin_image	VARCHAR(255)	NOT NULL,
		g_up_image	VARCHAR(255)	NOT NULL
	)
 	</select>
 
 </mapper> 